/* CSS Reset */
* {
  margin: 0;
  padding: 0;
}
/* Navigation Bar */
#navbar {
  display: flex;
  border: 2px solid red;
  display: flex;
}
#logo {
  /* border: 2px solid rgb(13, 216, 47); */
  margin: auto 0px; /*    top/bottom  left/right      */ /*    top right bottom left      */
  height: 5em;
}
#logo img {
  /* border: 2px solid rgb(33, 13, 216); */
  margin: auto 0px;
  height: 5em;
}

#navbar ul {
  display: flex;
  margin: auto 20px;
  padding: 0px 5px;
}
#navbar ul li {
  /* border: 2px solid blue; */
  list-style: none;
  padding: 0px 0px;
  /* margin: 0px 5px; */
}
#navbar ul li a {
  border: 2px solid blue;
  list-style: none;
  padding: 8px 35px;
  margin: 0px 2px;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  display: inline-block;
}
#navbar ul li a:hover {
  background-color: rgb(187, 187, 187);
  color: white;
  display: block;
}

/* Container */
.container {
    display : grid;
  grid-template-areas: "intro-left intro-right";
}
/* Home - Intro */
#intro-left {
  grid-area: intro-left;
  padding: 20px 20px;
  border: 2px solid rgb(0, 255, 0);
}
#intro-right {
    padding: 20px 20px;
  grid-area: intro-right;
  border: 2px solid rgb(160, 91, 12);
}
/* Specialities */
#specialities {
  border: 2px solid rgb(255, 0, 0);
}
/* Recommendations */
#recommendations {
  border: 2px solid rgb(251, 255, 0);
}
/* Reviews */
#reviews {
  border: 2px solid rgb(0, 225, 255);
}
